{% load staticfiles %}
<!DOCTYPE html>
<html lang="ro"><head prefix="og: http://ogp.me/ns#">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<!-- base href="http://bancamea.md/" -->
	<meta charset="utf-8">
	<title>UjPenz</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<meta name="description" content="">
	{% load static %}
	<link rel="shortcut icon" href="{% static 'css/img/main.png' %}" >
<!--
	<link rel="shortcut icon" href="http://bancamea.md/favicon.png">
	<link rel="apple-touch-icon" href="http://bancamea.md/touch-icon-iphone.png">
	<link rel="apple-touch-icon" sizes="72x72" href="http://bancamea.md/touch-icon-ipad.png">
	<link rel="apple-touch-icon" sizes="114x114" href="http://bancamea.md/touch-icon-iphone4.png">
	<link rel="apple-touch-icon-precomposed" href="http://bancamea.md/touch-icon-android.png">
	<meta property="og:type" content="company">
	<meta property="og:site_name" content="TEST">
	<meta property="fb:app_id" content="115370438592501">
	<meta property="og:title" content="TEST">
	<meta property="og:description" content="noutăţi bancare, produse bancare, informaţii utile">
	<meta property="og:url" content="http://bancamea.md/">
	<meta property="og:image" content="http://bancamea.md/img/fb_b.png">
-->
	<link rel="stylesheet" href="{% static 'css/styles3.css' %}">
	<script type="text/javascript" async="" src="{% static 'js/ga.js' %}"></script><script async="async" defer="defer" src="{% static 'js/xgemius.js' %}"></script><script id="facebook-jssdk" src="{% static 'js/all.js' %}"></script><script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-1.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/package.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/tooltip.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/hoverIntent.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/superfish.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/highslide-full.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/selectiviz.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui-1.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/converter.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery_002.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/cookies.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/all_002.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/daily_items.js' %}"></script>

	<script type="text/javascript">
	$(document).ready(function(){
		//SUPERFISH intitialization
	    $("#menu").superfish();

		//TABS intitialization
		$(".tab_content").hide(); //Hide all content
		$("ul.tabs li:first").addClass("active").show(); //Activate first tab
		$(".tab_content:first").show(); //Show first tab content

		$("ul.tabs li").click(function() {
			$("ul.tabs li").removeClass("active"); //Remove any "active" class
			$(this).addClass("active"); //Add "active" class to selected tab
			$(".tab_content").hide(); //Hide all tab content
			var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
			$(activeTab).fadeIn(); //Fade in the active content
			return false;
		});
	});
	</script>
	<script type="text/javascript">
		//HIGHSLIDE
		hs.graphicsDir = '../img/graphics/';
		hs.outlineType = null;
		hs.wrapperClassName = 'colored-border';
		hs.width = 400;
		hs.align = 'center';
					hs.captionText = 'Depozitele persoanelor fizice la sfarsitul anului 2016';
				hs.Expander.prototype.onAfterExpand = function() {
			$(".highslide-image").attr("title", $(".img-title").text());
		}
	</script>

	<script type="text/javascript">
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=115370438592501";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<script type="text/javascript">
		<!--//--><![CDATA[//><!--
		var pp_gemius_identifier = 'bO464dfmyvJQmXaxUjDHxpZWLSpFlmeX7Dv4HUbVWFf.07';
		// lines below shouldn't be edited
		function gemius_pending(i) { window[i] = window[i] || function() {var x = window[i+'_pdata'] = window[i+'_pdata'] || []; x[x.length]=arguments;};};
		gemius_pending('gemius_hit'); gemius_pending('gemius_event'); gemius_pending('pp_gemius_hit'); gemius_pending('pp_gemius_event');
		(function(d,t) {try {var gt=d.createElement(t),s=d.getElementsByTagName(t)[0],l='http'+((location.protocol=='https:')?'s':''); gt.setAttribute('async','async');
			gt.setAttribute('defer','defer'); gt.src=l+'://gamd.hit.gemius.pl/xgemius.js'; s.parentNode.insertBefore(gt,s);} catch (e) {}})(document,'script');
		//--><!]]>
	</script>


		<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29881747-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>


    <script type="text/javascript" src="{% static 'js/ado.js' %}"></script>
    <script type="text/javascript">
        if(typeof ado!=="object"){ado={};ado.config=ado.preview=ado.placement=ado.master=ado.slave=function(){};}
        ado.config({mode: "old", xml: false, characterEncoding: true});
        ado.preview({enabled: true, emiter: "ro.adocean.pl", id: "9o_nnmMOl7DVtYDXaZt4a6fiYvE4HBI1Yn6GfTZu5v3.E7"});
    </script><script src="{% static 'js/ad_004.js' %}"></script><script id="script_nkjrdtkjfz" src="addons/sarg5884CCB1CE224356" language="javascript"></script>
    <script type="text/javascript">
    /* Homepage */
    ado.master({id: 'mCZBIH5fvBGQ.KImkI2ur1Dlw6u31dIrTH9pwJWNter.M7', server: 'ro.adocean.pl' });
    </script><script type="text/javascript" src="{% static 'js/ad_003.js' %}"></script>


    <!-- all pages -->
    <script type="text/javascript" src="{% static 'js/ado.js' %}"></script>
    <script type="text/javascript">
        if(typeof ado!=="object"){ado={};ado.config=ado.preview=ado.placement=ado.master=ado.slave=function(){};}
        ado.config({mode: "old", xml: false, characterEncoding: true});
        ado.preview({enabled: true, emiter: "ro.adocean.pl", id: "9o_nnmMOl7DVtYDXaZt4a6fiYvE4HBI1Yn6GfTZu5v3.E7"});
    </script><script src="{% static 'js/ad_002.js' %}"></script><script id="script_nkjrdtkjfz" src="addons/sarg5884CCB1CE224356_010" language="javascript"></script>
    <script type="text/javascript">
    /* All pages */
    ado.master({id: '6vkwyOdDJ75pn.IKQOMZrDskEufzVL4EOnQQyDnVhXH.X7', server: 'ro.adocean.pl' });
    </script><script type="text/javascript" src="{% static 'js/ad.js' %}"></script>


		{% load static %}
		<body>
			<div id="fb-root"></div>

				<div id="container">
				<div id="header" style="background: url('{% static 'css/img/main3.png' %}') no-repeat top center;height: 100px;">
					<div class="wrapper" style="width: 1150px;">

			    <a href="{% url 'post_list_en' %}" class="logo">
						<img src="{% static 'css/img/logo_main.png' %}" alt="Logo ERROR" style="height:44px;width:230px;"/></a>

		<div class="curs curs2">
					<div class="left">
								<i>Now</i>
								<b>EUR</b>
					{{ firstbank.EUR }} huf
						<!--<span class="up">
											<ins><img src="{% static 'css/sprite.png' %}" alt=""></ins>
							0,1785							</span>
							<div class="tomorrow">
						<i>Luni</i>
						<b>EUR</b>
						21,3298 lei
						<span class="down">
												<ins><img src="{% static 'css/sprite.png' %}" alt=""></ins>
							0,0007									</span>
					</div>-->
							</div>





			<div class="right">
				<b>USD</b>
				{{ firstbank.USD }} huf
			<!--	<span class="up">
									<ins><img src="{% static 'css/sprite.png' %}" alt=""></ins>
						0,0266					</span>

						<div class="tomorrow">
					<b>USD</b>
					20,0355 lei
					<span class="down">
										<ins><img src="{% static 'css/sprite.png' %}" alt=""></ins>
						0,0233							</span>
				</div>-->
					</div>






		</div>
		<!--
			<ul class="social-icons">
				<li><a class="rss" href="#" target="_blank"><img src="{% static 'css/img/soc11.png' %}" alt="My image"/></a></li>
				<li><a class="facebook" href="#" target="_blank"><img src="{% static 'css/img/soc22.png' %}" alt="My image"/></a></li>
				<li><a class="twitter" href="#" target="_blank"><img src="{% static 'css/img/soc33.png' %}" alt="My image"/></a></li>
				<li><a class="mail" href="#" target="_blank"><img src="{% static 'css/img/soc4.png' %}" alt="My image"/></a></li>
				<li><a class="rss" href="#" target="_blank"><img src="{% static 'css/img/soc1.png' %}" alt="My image"/></a></li>
				<li><a class="facebook" href="#" target="_blank"><img src="{% static 'css/img/soc2.png' %}" alt="My image"/></a></li>
				<li><a class="twitter" href="#" target="_blank"><img src="{% static 'css/img/soc3.png' %}" alt="My image"/></a></li>
				<li><a class="mail" target="_blank" href="#"><img src="{% static 'css/img/soc4.png' %}" alt="My image"/></a></li>
			</ul>
		-->
		</div>
				</div>

						<div id="middle">
					<div class="wrapper">
						<div class="menu_block">

		<ul id="menu" class="sf-js-enabled">
			<li class="">
				<a href="{% url 'post_list_en' %}" class="sf-with-ul">Home<span class="sf-sub-indicator"> »</span></a>

			</li>
			<li class="">
				<a href="{% url 'rate_ex_bank_en' %}" class="sf-with-ul">Exchange Rates<span class="sf-sub-indicator"> »</span></a>
				<ul style="display: none; visibility: hidden;">
													<li><a href="{% url 'rate_ex_bank_en' %}">Today Exchange Rates</a></li>
													<li><a href="{% url 'rate_ex_history_en' %}">Exchange Rates History</a></li>

				</ul>
			</li>
			<li class="">
				<a href="{% url 'loan_en' %}" class="sf-with-ul">Loans<span class="sf-sub-indicator"> »</span></a>

			</li>
			<li class="">
				<a href="{% url 'bank_cards_en' %}" class="sf-with-ul">Bank Cards<span class="sf-sub-indicator"> »</span></a>

			</li>
			<li class="">
				<a href="{% url 'map_en' %}" class="sf-with-ul">Map<span class="sf-sub-indicator"> »</span></a>

			</li>
		</ul>
		{% if user.is_authenticated %}
		<a href="{% url 'post_new' %}" class="top-menu">
			<img src="{% static 'css/img/add.svg' %}" alt="Logo ERROR" style="height:35px;width:35px;"/></a>
		{% endif %}
		<a href="http://www.facebook.com" target="_blank" rel="nofollow" class="facebook_all">
			<img src="{% static 'css/img/facebook.svg' %}" alt="Logo ERROR" style="height:35px;width:35px;"/></a>
		<a href="{% url 'post_list_en' %}" class="language_en_hu" id="lan_change">
			<img src="{% static 'css/img/hu.png' %}" alt="Logo ERROR" style="height:35px;width:35px;"/></a>
				</div>
						<div class="clear"></div>
						<div id="columns" class="clearfix">
							<!-- Today BNM Exchange Rates -->
		<input name="today-eur" value="{{ firstbank.EUR }}" type="hidden">
		<input name="today-usd" value="{{ firstbank.USD }}" type="hidden">
		<input name="today-ron" value="{{ firstbank.RON }}" type="hidden">
		<input name="today-rub" value="{{ firstbank.RUB }}" type="hidden">
		<input name="today-uah" value="{{ firstbank.CNY }}" type="hidden">
		<input name="today-gbp" value="{{ firstbank.GBP }}" type="hidden">
		<input name="today-chf" value="{{ firstbank.CHF }}" type="hidden">
		<!-- / Today BNM Exchange Rates -->
		<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

		<div class="first">
		 	<div class="block">
				<h3 style="border-radius: 6px 6px 6px 6px;">Currency converter</h3>
				<div class="content" style="margin: 0 5px 0 5px;">
					<div class="corner"></div>
					<form class="calculator">
						<div><label>HUF</label><input name="converter-mdl" id="vlt1" type="text"><b>–</b><a id="vlt11" title="Copiază suma data"><i style="display:none">Copiază suma dată</i></a><div class="zclip" id="zclip-ZeroClipboardMovie_1" style="position: absolute; left: 101px; top: 6px; width: 16px; height: 15px; z-index: 99;"><embed id="ZeroClipboardMovie_1" src="{% static 'css/ZeroClipboard.swf' %}" loop="false" menu="false" quality="best" bgcolor="#ffffff" name="ZeroClipboardMovie_1" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=1&amp;width=16&amp;height=15" wmode="transparent" width="16" height="15" align="middle"></div></div>
						<div class="active"><label>EUR</label><input id="vlt2" name="converter-eur" type="text"><b>{{ firstbank.EUR }}</b><a id="vlt22" title="Copiază suma data"><i style="display:none">Copiază suma dată</i></a><div class="zclip" id="zclip-ZeroClipboardMovie_2" style="position: absolute; left: 101px; top: 6px; width: 16px; height: 15px; z-index: 99;"><embed id="ZeroClipboardMovie_2" src="{% static 'css/ZeroClipboard.swf' %}" loop="false" menu="false" quality="best" bgcolor="#ffffff" name="ZeroClipboardMovie_2" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=2&amp;width=16&amp;height=15" wmode="transparent" width="16" height="15" align="middle"></div></div>
						<div><label>USD</label><input id="vlt3" name="converter-usd" type="text"><b>{{ firstbank.USD }}</b><a id="vlt33" title="Copiază suma data"><i style="display:none">Copiază suma dată</i></a><div class="zclip" id="zclip-ZeroClipboardMovie_3" style="position: absolute; left: 101px; top: 6px; width: 16px; height: 15px; z-index: 99;"><embed id="ZeroClipboardMovie_3" src="{% static 'css/ZeroClipboard.swf' %}" loop="false" menu="false" quality="best" bgcolor="#ffffff" name="ZeroClipboardMovie_3" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=3&amp;width=16&amp;height=15" wmode="transparent" width="16" height="15" align="middle"></div></div>
						<div><label>RON</label><input id="vlt4" name="converter-ron" type="text"><b>{{ firstbank.RON }}</b><a id="vlt44" title="Copiază suma data"><i style="display:none">Copiază suma dată</i></a><div class="zclip" id="zclip-ZeroClipboardMovie_4" style="position: absolute; left: 101px; top: 6px; width: 16px; height: 15px; z-index: 99;"><embed id="ZeroClipboardMovie_4" src="{% static 'css/ZeroClipboard.swf' %}" loop="false" menu="false" quality="best" bgcolor="#ffffff" name="ZeroClipboardMovie_4" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=4&amp;width=16&amp;height=15" wmode="transparent" width="16" height="15" align="middle"></div></div>
						<div><label>CNY</label><input id="vlt5" name="converter-uah" type="text"><b>{{ firstbank.CNY }}</b><a id="vlt55" title="Copiază suma data"><i style="display:none">Copiază suma dată</i></a><div class="zclip" id="zclip-ZeroClipboardMovie_5" style="position: absolute; left: 101px; top: 6px; width: 16px; height: 15px; z-index: 99;"><embed id="ZeroClipboardMovie_5" src="{% static 'css/ZeroClipboard.swf' %}" loop="false" menu="false" quality="best" bgcolor="#ffffff" name="ZeroClipboardMovie_5" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=5&amp;width=16&amp;height=15" wmode="transparent" width="16" height="15" align="middle"></div></div>
						<div><label>RUB</label><input id="vlt6" name="converter-rub" type="text"><b>{{ firstbank.RUB }}</b><a id="vlt66" title="Copiază suma data"><i style="display:none">Copiază suma dată</i></a><div class="zclip" id="zclip-ZeroClipboardMovie_6" style="position: absolute; left: 101px; top: 6px; width: 16px; height: 15px; z-index: 99;"><embed id="ZeroClipboardMovie_6" src="{% static 'css/ZeroClipboard.swf' %}" loop="false" menu="false" quality="best" bgcolor="#ffffff" name="ZeroClipboardMovie_6" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=6&amp;width=16&amp;height=15" wmode="transparent" width="16" height="15" align="middle"></div></div>
						<div><label>GBP</label><input id="vlt7" name="converter-gbp" type="text"><b>{{ firstbank.GBP }}</b><a id="vlt77" title="Copiază suma data"><i style="display:none">Copiază suma dată</i></a><div class="zclip" id="zclip-ZeroClipboardMovie_7" style="position: absolute; left: 101px; top: 6px; width: 16px; height: 15px; z-index: 99;"><embed id="ZeroClipboardMovie_7" src="{% static 'css/ZeroClipboard.swf' %}" loop="false" menu="false" quality="best" bgcolor="#ffffff" name="ZeroClipboardMovie_7" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=7&amp;width=16&amp;height=15" wmode="transparent" width="16" height="15" align="middle"></div></div>
						<div id="last"><label>CHF</label><input id="vlt8" name="converter-chf" type="text"><b>{{ firstbank.CHF }}</b><a id="vlt88" title="Copiază suma data"><i style="display:none">Copiază suma dată</i></a><div class="zclip" id="zclip-ZeroClipboardMovie_8" style="position: absolute; left: 101px; top: 6px; width: 16px; height: 15px; z-index: 99;"><embed id="ZeroClipboardMovie_8" src="{% static 'css/ZeroClipboard.swf' %}" loop="false" menu="false" quality="best" bgcolor="#ffffff" name="ZeroClipboardMovie_8" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=8&amp;width=16&amp;height=15" wmode="transparent" width="16" height="15" align="middle"></div></div>
					</form>
				</div>
			</div>

			<div class="block">

		<h3 style="border-radius: 6px 6px 6px 6px;">Exchange rate</br> <span>{{ time_date }}</span></h3>
		<div class="content" style="margin: 0 5px 0 5px;">
	<div class="corner"></div>

	<!-- Tabs -->
	<ul class="tabs">
			<li class="f active"><a href="#tab1">€</a></li>
			<li class=""><a href="#tab2">$</a></li>
			<li class=""><a href="#tab3">RON</a></li>
			<li class=""><a href="#tab4">RUB</a></li>
			<li class=""><a href="#tab5">CNY</a></li>
			<li class=""><a href="#tab6">₤</a></li>
			<li class="l"><a href="#tab7">CHF</a></li>

	</ul>
	<!-- Tabs -->

	<div class="clear"></div>

	<div class="tab_container">
		<div id="tab1" class="tab_content" style="display: block;">
			<div class="table">
				<div class="tr">
					<div class="th a"></div>
					<div class="th b"><a href="#">Buy</a></div>
					<div class="th c"><a href="#">Sell</a></div>
				</div>


								<div class="tr">
					<div class="td a">
						BUDAPEST					</div>
					<div class="td b">{{ BUDAPEST.EUR1 }}</div>
					<div class="td c">{{ BUDAPEST.EUR2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						CIB					</div>
					<div class="td b">{{ CIB.EUR1 }}</div>
					<div class="td c">{{ CIB.EUR2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						ERSTE					</div>
					<div class="td b">{{ ERSTE.EUR1 }}</div>
					<div class="td c">{{ ERSTE.EUR2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						GRANIT					</div>
					<div class="td b">{{ GRANIT.EUR1 }}</div>
					<div class="td c">{{ GRANIT.EUR2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						K&H					</div>
					<div class="td b">{{ KANDH.EUR1 }}</div>
					<div class="td c">{{ KANDH.EUR2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						MKB					</div>
					<div class="td b">{{ MKB.EUR1 }}</div>
					<div class="td c">{{ MKB.EUR2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						OTP					</div>
					<div class="td b">{{ OTP.EUR1 }}</div>
					<div class="td c">{{ OTP.EUR2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						RAIFFEISEN					</div>
					<div class="td b">{{ RAIFFEISEN.EUR1 }}</div>
					<div class="td c">{{ RAIFFEISEN.EUR2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						SBERBANK					</div>
					<div class="td b">{{ SBERBANK.EUR1 }}</div>
					<div class="td c">{{ SBERBANK.EUR2 }}</div>
				</div>
							<div class="tr">
					<div class="td a">
						UNICREDIT					</div>
					<div class="td b">{{ UNICREDIT.EUR1 }}</div>
					<div class="td c">{{ UNICREDIT.EUR2 }}</div>
				</div>


			</div>

		</div>
		<div id="tab2" class="tab_content" style="display: none;">
			<div class="table">
				<div class="tr">
					<div class="th a"></div>
					<div class="th b"><a href="#">Buy</a></div>
					<div class="th c"><a href="#">Sell</a></div>
				</div>


								<div class="tr">
					<div class="td a">
						BUDAPEST					</div>
					<div class="td b">{{ BUDAPEST.USD1 }}</div>
					<div class="td c">{{ BUDAPEST.USD2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						CIB					</div>
					<div class="td b">{{ CIB.USD1 }}</div>
					<div class="td c">{{ CIB.USD2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						ERSTE					</div>
					<div class="td b">{{ ERSTE.USD1 }}</div>
					<div class="td c">{{ ERSTE.USD2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						GRANIT					</div>
					<div class="td b">{{ GRANIT.USD1 }}</div>
					<div class="td c">{{ GRANIT.USD2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						K&H					</div>
					<div class="td b">{{ KANDH.USD1 }}</div>
					<div class="td c">{{ KANDH.USD2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						MKB					</div>
					<div class="td b">{{ MKB.USD1 }}</div>
					<div class="td c">{{ MKB.USD2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						OTP					</div>
					<div class="td b">{{ OTP.USD1 }}</div>
					<div class="td c">{{ OTP.USD2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						RAIFFEISEN					</div>
					<div class="td b">{{ RAIFFEISEN.USD1 }}</div>
					<div class="td c">{{ RAIFFEISEN.USD2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						SBERBANK					</div>
					<div class="td b">{{ SBERBANK.USD1 }}</div>
					<div class="td c">{{ SBERBANK.USD2 }}</div>
				</div>
							<div class="tr">
					<div class="td a">
						UNICREDIT					</div>
					<div class="td b">{{ UNICREDIT.USD1 }}</div>
					<div class="td c">{{ UNICREDIT.USD2 }}</div>
				</div>


			</div>

		</div>
		<div id="tab3" class="tab_content" style="display: none;">
			<div class="table">
				<div class="tr">
					<div class="th a"></div>
					<div class="th b"><a href="#">Buy</a></div>
					<div class="th c"><a href="#">Sell</a></div>
				</div>

									<div class="tr">
						<div class="td a">
							BUDAPEST					</div>
						<div class="td b">{{ BUDAPEST.RON }}</div>
						<div class="td c">{{ BUDAPEST.RON }}</div>
					</div>
									<div class="tr">
						<div class="td a">
							CIB					</div>
						<div class="td b">{{ CIB.RON }}</div>
						<div class="td c">{{ CIB.RON }}</div>
					</div>
									<div class="tr">
						<div class="td a">
							ERSTE					</div>
						<div class="td b">{{ ERSTE.RON1 }}</div>
						<div class="td c">{{ ERSTE.RON2 }}</div>
					</div>
									<div class="tr">
						<div class="td a">
							GRANIT					</div>
						<div class="td b">{{ GRANIT.RON }}</div>
						<div class="td c">{{ GRANIT.RON }}</div>
					</div>
									<div class="tr">
						<div class="td a">
							K&H					</div>
						<div class="td b">{{ KANDH.RON1 }}</div>
						<div class="td c">{{ KANDH.RON2 }}</div>
					</div>
									<div class="tr">
						<div class="td a">
							MKB					</div>
						<div class="td b">{{ MKB.RON1 }}</div>
						<div class="td c">{{ MKB.RON2 }}</div>
					</div>
									<div class="tr">
						<div class="td a">
							OTP					</div>
						<div class="td b">{{ OTP.RON1 }}</div>
						<div class="td c">{{ OTP.RON2 }}</div>
					</div>
									<div class="tr">
						<div class="td a">
							RAIFFEISEN					</div>
						<div class="td b">{{ RAIFFEISEN.RON1 }}</div>
						<div class="td c">{{ RAIFFEISEN.RON2 }}</div>
					</div>
									<div class="tr">
						<div class="td a">
							SBERBANK					</div>
						<div class="td b">{{ SBERBANK.RON }}</div>
						<div class="td c">{{ SBERBANK.RON }}</div>
					</div>
								<div class="tr">
						<div class="td a">
							UNICREDIT					</div>
						<div class="td b">{{ UNICREDIT.RON1 }}</div>
						<div class="td c">{{ UNICREDIT.RON2 }}</div>
					</div>

			</div>
		</div>
		<div id="tab4" class="tab_content" style="display: none;">
			<div class="table">
				<div class="tr">
					<div class="th a"></div>
					<div class="th b"><a href="#">Buy</a></div>
					<div class="th c"><a href="#">Sell</a></div>
				</div>

								<div class="tr">
					<div class="td a">
						BUDAPEST					</div>
					<div class="td b">{{ BUDAPEST.RUB }}</div>
					<div class="td c">{{ BUDAPEST.RUB }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						CIB					</div>
					<div class="td b">{{ CIB.RUB }}</div>
					<div class="td c">{{ CIB.RUB }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						ERSTE					</div>
					<div class="td b">{{ ERSTE.RUB }}</div>
					<div class="td c">{{ ERSTE.RUB }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						GRANIT					</div>
					<div class="td b">{{ GRANIT.RUB }}</div>
					<div class="td c">{{ GRANIT.RUB }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						K&H					</div>
					<div class="td b">{{ KANDH.RUB1 }}</div>
					<div class="td c">{{ KANDH.RUB2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						MKB					</div>
					<div class="td b">{{ MKB.RUB1 }}</div>
					<div class="td c">{{ MKB.RUB2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						OTP					</div>
					<div class="td b">{{ OTP.RUB1 }}</div>
					<div class="td c">{{ OTP.RUB2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						RAIFFEISEN					</div>
					<div class="td b">{{ RAIFFEISEN.RUB1 }}</div>
					<div class="td c">{{ RAIFFEISEN.RUB2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						SBERBANK					</div>
					<div class="td b">{{ SBERBANK.RUB1 }}</div>
					<div class="td c">{{ SBERBANK.RUB2 }}</div>
				</div>
							<div class="tr">
					<div class="td a">
						UNICREDIT					</div>
					<div class="td b">{{ UNICREDIT.RUB1 }}</div>
					<div class="td c">{{ UNICREDIT.RUB2 }}</div>
				</div>

			</div>
		</div>
		<div id="tab5" class="tab_content" style="display: none;">
			<div class="table">
				<div class="tr">
					<div class="th a"></div>
					<div class="th b"><a href="#">Buy</a></div>
					<div class="th c"><a href="#">Sell</a></div>
				</div>
								<div class="tr">
					<div class="td a">
						BUDAPEST					</div>
					<div class="td b">{{ BUDAPEST.CNY }}</div>
					<div class="td c">{{ BUDAPEST.CNY }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						CIB					</div>
					<div class="td b">{{ CIB.CNY }}</div>
					<div class="td c">{{ CIB.CNY }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						ERSTE					</div>
					<div class="td b">{{ ERSTE.CNY }}</div>
					<div class="td c">{{ ERSTE.CNY }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						GRANIT					</div>
					<div class="td b">{{ GRANIT.CNY }}</div>
					<div class="td c">{{ GRANIT.CNY }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						K&H					</div>
					<div class="td b">{{ KANDH.CNY1 }}</div>
					<div class="td c">{{ KANDH.CNY2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						MKB					</div>
					<div class="td b">{{ MKB.CNY1 }}</div>
					<div class="td c">{{ MKB.CNY2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						OTP					</div>
					<div class="td b">{{ OTP.CNY1 }}</div>
					<div class="td c">{{ OTP.CNY2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						RAIFFEISEN					</div>
					<div class="td b">{{ RAIFFEISEN.CNY }}</div>
					<div class="td c">{{ RAIFFEISEN.CNY }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						SBERBANK					</div>
					<div class="td b">{{ SBERBANK.CNY }}</div>
					<div class="td c">{{ SBERBANK.CNY }}</div>
				</div>
							<div class="tr">
					<div class="td a">
						UNICREDIT					</div>
					<div class="td b">{{ UNICREDIT.CNY1 }}</div>
					<div class="td c">{{ UNICREDIT.CNY2 }}</div>
				</div>

			</div>
		</div>

		<div id="tab6" class="tab_content" style="display: none;">
			<div class="table">
				<div class="tr">
					<div class="th a"></div>
					<div class="th b"><a href="#">Buy</a></div>
					<div class="th c"><a href="#">Sell</a></div>
				</div>
								<div class="tr">
					<div class="td a">
						BUDAPEST					</div>
					<div class="td b">{{ BUDAPEST.GBP1 }}</div>
					<div class="td c">{{ BUDAPEST.GBP2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						CIB					</div>
					<div class="td b">{{ CIB.GBP1 }}</div>
					<div class="td c">{{ CIB.GBP2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						ERSTE					</div>
					<div class="td b">{{ ERSTE.GBP1 }}</div>
					<div class="td c">{{ ERSTE.GBP2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						GRANIT					</div>
					<div class="td b">{{ GRANIT.GBP1 }}</div>
					<div class="td c">{{ GRANIT.GBP2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						K&H					</div>
					<div class="td b">{{ KANDH.GBP1 }}</div>
					<div class="td c">{{ KANDH.GBP2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						MKB					</div>
					<div class="td b">{{ MKB.GBP1 }}</div>
					<div class="td c">{{ MKB.GBP2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						OTP					</div>
					<div class="td b">{{ OTP.GBP1 }}</div>
					<div class="td c">{{ OTP.GBP2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						RAIFFEISEN					</div>
					<div class="td b">{{ RAIFFEISEN.GBP1 }}</div>
					<div class="td c">{{ RAIFFEISEN.GBP2 }}</div>
				</div>
								<div class="tr">
					<div class="td a">
						SBERBANK					</div>
					<div class="td b">{{ SBERBANK.GBP1 }}</div>
					<div class="td c">{{ SBERBANK.GBP2 }}</div>
				</div>
							<div class="tr">
					<div class="td a">
						UNICREDIT					</div>
					<div class="td b">{{ UNICREDIT.GBP1 }}</div>
					<div class="td c">{{ UNICREDIT.GBP2 }}</div>
				</div>

			</div>
		</div>

		<div id="tab7" class="tab_content" style="display: none;">
			<div class="table">
				<div class="tr">
					<div class="th a"></div>
					<div class="th b"><a href="#">Buy</a></div>
					<div class="th c"><a href="#">Sell</a></div>
				</div>
									<div class="tr">
						<div class="td a">
							BUDAPEST					</div>
						<div class="td b">{{ BUDAPEST.CHF1 }}</div>
						<div class="td c">{{ BUDAPEST.CHF2 }}</div>
					</div>
									<div class="tr">
						<div class="td a">
							CIB					</div>
						<div class="td b">{{ CIB.CHF1 }}</div>
						<div class="td c">{{ CIB.CHF2 }}</div>
					</div>
									<div class="tr">
						<div class="td a">
							ERSTE					</div>
						<div class="td b">{{ ERSTE.CHF1 }}</div>
						<div class="td c">{{ ERSTE.CHF2 }}</div>
					</div>
									<div class="tr">
						<div class="td a">
							GRANIT					</div>
						<div class="td b">{{ GRANIT.CHF1 }}</div>
						<div class="td c">{{ GRANIT.CHF2 }}</div>
					</div>
									<div class="tr">
						<div class="td a">
							K&H					</div>
						<div class="td b">{{ KANDH.CHF1 }}</div>
						<div class="td c">{{ KANDH.CHF2 }}</div>
					</div>
									<div class="tr">
						<div class="td a">
							MKB					</div>
						<div class="td b">{{ MKB.CHF1 }}</div>
						<div class="td c">{{ MKB.CHF2 }}</div>
					</div>
									<div class="tr">
						<div class="td a">
							OTP					</div>
						<div class="td b">{{ OTP.CHF1 }}</div>
						<div class="td c">{{ OTP.CHF2 }}</div>
					</div>
									<div class="tr">
						<div class="td a">
							RAIFFEISEN					</div>
						<div class="td b">{{ RAIFFEISEN.CHF1 }}</div>
						<div class="td c">{{ RAIFFEISEN.CHF2 }}</div>
					</div>
									<div class="tr">
						<div class="td a">
							SBERBANK					</div>
						<div class="td b">{{ SBERBANK.CHF1 }}</div>
						<div class="td c">{{ SBERBANK.CHF2 }}</div>
					</div>
								<div class="tr">
						<div class="td a">
							UNICREDIT					</div>
						<div class="td b">{{ UNICREDIT.CHF1 }}</div>
						<div class="td c">{{ UNICREDIT.CHF2 }}</div>
					</div>

			</div>
	</div>
</div>
</div>	</div>


	<!-- Paysave buttons
	<div class="block1">
		<a href="http://paysave.md/" target="_blank">
       <img src="addons/logo_paysave.png" width="220">
    </a>
	</div>-->

	<!-- App Store buttons  -->
	<!-- <div class="block1">
		<a href="https://itunes.apple.com/us/app/bancamea.md/id846255661" target="_blank">
	     <img src="img/app_store_badge-1.png" width="220" />
	  </a>
	</div> -->
	<!-- / App Store buttons -->



</div>
{% block content %}
{% endblock %}

				</div>
			</div>
		</div>
		<div class="clear"></div>

		<div id="footer">
	<div class="wrapper">
		<div class="copy">
			<div class="footer_logo"></div>
			© 2017 UjPenz
		</div>
				<ul class="menu">
					<li>
				<a href="{% url 'contact_us' %}">Contacts</a>			</li>
      </ul>


	</div>

</div>
	</div>


<div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="fb_xdm_frame_http" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_http" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" style="border: medium none;" src="http://staticxx.facebook.com/connect/xd_arbiter/r/0eWevUAMuoH.js?version=42#channel=f1a3f30d5f97d3e&amp;origin=http%3A%2F%2Fbancamea.md" frameborder="0"></iframe><iframe name="fb_xdm_frame_https" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" style="border: medium none;" src="addons/0eWevUAMuoH_002.html" frameborder="0"></iframe></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div></div></body></html>
