{% extends 'blogapp/index.html' %}
{% block content %}

<script>
lan_en_hu()
function lan_en_hu() {
  document.getElementById("lan_change").href = "{% url 'post_list_all_en' %}";
}
</script>

<div class="second">
  <div width="800px" style="padding-left:0px;">
    <div class="col-md-1 col-sm-1 col-xs-1" style="padding:0px;width: 10.9%;">
      <p class="dottostart">
        &nbsp;HÍREK</p>
    </div>
    <div style="padding-left:0px;">
        <hr class="linetostart" style="width:717px;"/>
    </div>
  </div>
  {% if user.is_authenticated %}
  <div class="post col-md-11 col-sm-11 col-xs-11">
  <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
  </div>
  {% endif %}
    <div class="post col-md-11 col-sm-11 col-xs-11">
        <h1>{{ post.title }}</h1>   <br>
        <div class="news_photo">
          <img src="{{ post.images.url }}" title="{{ post.title }}" alt="Error" width="327">
        </div>
            {% if post.published_date %}
                <div class="date">
                    {{ post.published_date }}
                </div>
            {% endif %}
        <br><p>{{ post.text|safe|escape }}</p>
    </div>
  </div>
{% endblock %}
