{% extends 'blogapp/index_en.html' %}
  {% block content %}

  <script>
  lan_en_hu()
  function lan_en_hu() {
    document.getElementById("lan_change").href = "{% url 'post_list_all' %}";
  }
  </script>

    <div class="second">
      <div width="800px" style="padding-left:0px;">
        <div class="col-md-1 col-sm-1 col-xs-1" style="padding:0px;width: 10.9%;">
      		<p class="dottostart">
      			&nbsp;NEWS</p>
      	</div>
      	<div style="padding-left:0px;">
      			<hr class="linetostart" style="width:717px;"/>
      	</div>
      </div>

    {% for post in postst %}
        <div class="post col-md-11 col-sm-11 col-xs-11">
            <h2><a href="{% url 'post_detail_en' pk=post.pk %}">{{ post.title }}</a></h2>
                <div class="date">
                    {{ post.published_date }}
                </div><br>
        </div>
    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if postst.has_previous %}
            <a href="?page={{ postst.previous_page_number }}">previus</a>
        {% endif %}

        <span class="current">
            Page {{ postst.number }} of {{ postst.paginator.num_pages }}.
        </span>

        {% if postst.has_next %}
            <a href="?page={{ postst.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
  </div>
  {% endblock %}
