{% extends 'blogapp/index.html' %}
  {% block content %}
    <div class="second">
      <div width="800px" style="padding-left:0px;">
      	<div class="col-md-1" style="padding:0px;">
      		<p style="height:13px; border-left: 13px solid green;">
      			&nbsp;NEWS</p>
      	</div>
      	<div style="padding-left:0px;">
      			<hr style="margin-top:0;float:left;width:650px;height:13px;border:none;color:#999999;background-color:#999999;"/>
      	</div>
      </div>

    {% for post in postst %}
        <div class="post col-md-11">
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <div class="date">
                    {{ post.published_date }}
                </div><br>
        </div>
    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if postst.has_previous %}
            <a href="?page={{ postst.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ postst.number }} of {{ postst.paginator.num_pages }}.
        </span>

        {% if postst.has_next %}
            <a href="?page={{ postst.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
  </div>
  {% endblock %}
