{% extends 'blogapp/index_en.html' %}

{% block content %}


<div class="second">
  <div width="800px" style="padding-left:0px;">
    <div class="col-md-2 col-sm-2 col-xs-2" style="padding:0px; width:16.5%;">
      <p class="dottostart">
        &nbsp;Post editor</p>
    </div>
    <div style="padding-left:0px;">
        <hr class="linetostart"  style="width:667.1px;"/>
    </div>
  </div>

  {% load staticfiles%}
  <script type="text/javascript" src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'textarea' });</script>
<div class="col-md-11 col-sm-11 col-xs-11">
<br>
  <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-actions">
        <button type="submit" style="font-size: 24px;">Submit</button>
      </div>
  </form>
<p>{{ email.send }}</p>
</div>



</div>

{% endblock %}
