{% extends 'blogapp/index_en.html' %}

{% block content %}

<script>
lan_en_hu()
function lan_en_hu() {
  document.getElementById("lan_change").href = "{% url 'post_list' %}";
}
</script>


<div class="second">

	<!-- / Buttons
	<div class="block middle-banner">
    <div id="adoceanroubgiqkinxc8" style="display: none;"></div>
    <script type="text/javascript">
    /* (c)AdOcean 2003-2016, bancamea_md.Bancamea.md.Homepage.Rectangle box 4 (center) */
    ado.slave('adoceanroubgiqkinxc', {myMaster: 'mCZBIH5fvBGQ.KImkI2ur1Dlw6u31dIrTH9pwJWNter.M7' });
    </script><script ="text/javascript">if(typeof adceanroubgiqkinxc=='function'){adoceanroubgiqkinxc();}</script><script id="script_sclolnsoqo" src="addons/sarg5884CCB1CE224356_002" language="javascript"></script>
</div>-->
<div width="800px" style="padding-left:0px;">
	<div class="col-md-1 col-sm-1 col-xs-1" style="padding:0px;width: 10.9%;">
		<p class="dottostart">
			&nbsp;NEWS</p>
	</div>
	<div style="padding-left:0px;">
			<hr class="linetostart" style="width:620px;"/>
			<button onclick="myFunctionL()" id="buttonL" style="margin-left:10px"><span class="glyphicon glyphicon-chevron-left"></span></button>
			<button onclick="myFunctionR()" id="buttonR"><span class="glyphicon glyphicon-chevron-right"></span></button>


	</div>
</div>

<div class="rows">
	<div class="col-md-5 col-sm-5 col-xs-5" style="padding-left:0px; padding-top:10px;">
			<div>	<a id="a1_0" href="{% url 'post_detail_en' pk=posts.0.pk %}"><img id="img_0" src="{{ posts.0.images.url }}" title="{{ posts.0.title }}" alt="Error" width="356" height="240"></a>
				<a id="a2_0" href="{% url 'post_detail_en' pk=posts.0.pk %}"><div style="overflow: hidden; height:46px;"><h2 id="title_0">{{ posts.0.title }}</h2></div></a><br>
				<h5 id="h5_0">{{ posts.3.published_date }}</h5><br>
				<!--<h3 id="h3_0">{{ posts.0.title_text}}</h3>-->

			</div>

	</div>
	<div class="col-md-6 col-sm-6 col-xs-6" style="padding-top:10px; padding-left:0px;">

		<div id="some2" style="display:block;">
			<div class="col-md-12 col-sm-12 col-xs-12"  style=" padding-left:0px;">
				<div class="col-md-4 col-sm-4 col-xs-4" style=" padding-left:10px;">
					<a id="a1_1" href="{% url 'post_detail_en' pk=posts.1.pk %}"><img id="img_1" src="{{ posts.1.images.url }}" title="{{ posts.1.title }}" alt="Error" width="109" height="80"></a>
				</div>
				<div style="padding-top:3px; padding-left:20px;">
					<a id="a2_1" href="{% url 'post_detail_en' pk=posts.1.pk %}"><div style="overflow: hidden; height:46px;"><h2 id="title_1">{{ posts.1.title }}</h2></div></a>
					<h5 id="h5_1" >{{ posts.1.published_date }}</h5>
				</div>
				<hr style="margin-left:10px;">
			</div>
		 </div>

		 <div id="some3" style="display:block;">
			<div class="col-md-12  col-sm-12 col-xs-12" style="padding-top:0px; padding-left:0px;">
				<div class="col-md-4 col-sm-4 col-xs-4" style=" padding-left:10px;">
					<a id="a1_2"  href="{% url 'post_detail_en' pk=posts.2.pk %}"><img id="img_2" src="{{ posts.2.images.url }}" title="{{ posts.2.title }}" alt="Error" width="109" height="80"></a>
				</div>
				<div style="padding-top:3px; padding-left:20px;">
					<a id="a2_2"  href="{% url 'post_detail_en' pk=posts.2.pk %}"><div style="overflow: hidden; height:46px;"><h2 id="title_2">{{ posts.2.title }}</h2></div></a>
					<h5 id="h5_2">{{ posts.2.published_date }}</h5>
				</div>
					<hr style="margin-left:10px;">
			</div>
			</div>

			<div id="some4" style="display:block;">
			<div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:0px; padding-left:0px;">
				<div class="col-md-4 col-sm-4 col-xs-4" style=" padding-left:10px;">
					<a id="a1_3"  href="{% url 'post_detail_en' pk=posts.3.pk %}"><img id="img_3" src="{{ posts.3.images.url }}" title="{{ posts.3.title }}" alt="Error" width="109" height="80"></a>
				</div>
				<div style="padding-top:3px; padding-left:20px;">
					<a id="a2_3"  href="{% url 'post_detail_en' pk=posts.3.pk %}"><div style="overflow: hidden; height:46px;"><h2 id="title_3">{{ posts.3.title }}</h2></div></a>
					<h5 id="h5_3">{{ posts.3.published_date }}</h5>
				</div>
					<hr style="margin-left:10px;">
			</div>
		</div>


			<div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:0px; padding-left:0px;">
				<center>
				<a class = "post_link" style="font-size: 17pt;" href="{% url 'post_list_all_en'%}">Link: More News</a>

			</center>

			</div>

{% load static %}
</div>
</div>
	<div class="col-md-11  col-sm-11 col-xs-11" style=" padding-left:0px;">
	<hr class="lineundernews"/>
	<table class="main_table" cellpadding="7" align="center" width="790">
	  <tr height = "80px">
	    <td width = "300px">
				<a href="{% url 'rate_ex_bank_en' %}" class="logo">
					<img src="{% static 'css/img/exch2.png' %}" alt="Logo ERROR" style="height:60px;width:60px;float:left;margin-right: 15px;"/>
					<h2 style="padding-top: 24px;">Exchange Rates</h2></a></td>
			<td>
				<a href="{% url 'loan_en' %}" class="logo">
					<img src="{% static 'css/img/loan2.png' %}" alt="Logo ERROR" style="height:60px;width:60px;float:left;margin-right: 15px;"/>
					<h2 style="padding-top: 24px;">Loans</h2></a></td>
	  </tr>
		<tr height = "80px">
			<td>
				<a href="{% url 'post_list_all_en' %}" class="logo">
					<img src="{% static 'css/img/news2.png' %}" alt="Logo ERROR" style="height:60px;width:60px;float:left;margin-right: 15px;"/>
					<h2 style="padding-top: 24px;">News</h2></a></td>
			<td>
				<a href="{% url 'bank_cards_en' %}" class="logo">
					<img src="{% static 'css/img/bank2.png' %}" alt="Logo ERROR" style="height:60px;width:60px;float:left;margin-right: 15px;"/>
					<h2 style="padding-top: 24px;">Bank Cards</h2></a></td>
			<td>
				<a href="{% url 'map_en' %}" class="logo">
					<img src="{% static 'css/img/map2.png' %}" alt="Logo ERROR" style="height:60px;width:60px;float:left;margin-right: 15px;"/>
					<h2 style="padding-top: 24px;">Map</h2></a></td>
	  </tr>
</table>
<table class="main_table" cellpadding="7" align="center" width="790">
  <tr>
    <td>
      <h2 align="justify">&nbsp;&nbsp;&nbsp;&nbsp;{{ about.Title_EN|linebreaksbr }}</h2>
    </td>
  </tr>
</table>

	</div>


<script>
/*
{% url 'post_detail' pk=posts.0.pk %}
{{ posts.0.images.url }}
{{ posts.0.title }}
{{ posts.0.published_date }}
{{ posts.0.title_text}}...
*/
var y = 0
check();
var title = [	"{{ posts.0.title }}","{{ posts.1.title }}","{{ posts.2.title }}","{{ posts.3.title }}","{{ posts.4.title }}",
							"{{ posts.5.title }}","{{ posts.6.title }}","{{ posts.7.title }}","{{ posts.8.title }}","{{ posts.9.title }}"];

var img =  ["{{ posts.0.images.url }}","{{ posts.1.images.url }}","{{ posts.2.images.url }}","{{ posts.3.images.url }}",
						"{{ posts.4.images.url }}","{{ posts.5.images.url }}","{{ posts.6.images.url }}","{{ posts.7.images.url }}",
						"{{ posts.8.images.url }}","{{ posts.9.images.url }}"];

var date_p = ["{{ posts.0.published_date }}","{{ posts.1.published_date }}","{{ posts.2.published_date }}","{{ posts.3.published_date }}",
							"{{ posts.4.published_date }}","{{ posts.5.published_date }}","{{ posts.6.published_date }}","{{ posts.7.published_date }}",
							"{{ posts.8.published_date }}","{{ posts.9.published_date }}"];

var link = ["{% url 'post_detail_en' pk=posts.0.pk %}","{% url 'post_detail_en' pk=posts.1.pk %}","{% url 'post_detail_en' pk=posts.2.pk %}",
						"{% url 'post_detail_en' pk=posts.3.pk %}","{% url 'post_detail_en' pk=posts.4.pk %}","{% url 'post_detail_en' pk=posts.5.pk %}",
						"{% url 'post_detail_en' pk=posts.6.pk %}","{% url 'post_detail_en' pk=posts.7.pk %}","{% url 'post_detail_en' pk=posts.8.pk %}",
						"{% url 'post_detail_en' pk=posts.9.pk %}",];

var id = ['a1_','img_','title_','h5_','h3_','a2_'];

function myFunctionR() {
	y = y + 1
	for (i = 0; i < 4; i++) {
		document.getElementById(id[0] + i).href = link[y+i];
		document.getElementById(id[5] + i).href = link[y+i];
		document.getElementById(id[1] + i).src = img[y+i];
		document.getElementById(id[1] + i).title = title[y+i];
		document.getElementById(id[2] + i).innerHTML = title[y+i];
		document.getElementById(id[3] + i).innerHTML = date_p[y+i];
	}
	check();
}
function myFunctionL() {
	y = y - 1
	for (i = 0; i < 4; i++) {
		document.getElementById(id[0] + i).href = link[y+i];
		document.getElementById(id[5] + i).href = link[y+i];
		document.getElementById(id[1] + i).src = img[y+i];
		document.getElementById(id[1] + i).title = title[y+i];
		document.getElementById(id[2] + i).innerHTML = title[y+i];
		document.getElementById(id[3] + i).innerHTML = date_p[y+i];
	}
	check();
}
function check() {
	if (y==0){
		document.getElementById("buttonL").disabled = true;
	} else {
		document.getElementById("buttonL").disabled = false;
	}
	if (y==6){
		document.getElementById("buttonR").disabled = true;
	} else {
		document.getElementById("buttonR").disabled = false;
	}
}
</script>

</div>

{% endblock %}
